.app-menu {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  width: 100%;
  padding: 1px;
  margin: 0;
  list-style: none;
  background-color: #F4F4F4;

  > * {
    flex-shrink: 0;
  }

  > li {
    box-sizing: border-box;

    > button {
      box-sizing: border-box;
      height: 28px;
      padding: 1px 8px;
      border: 0;
      background: 0;
      font-size: 13px;
      line-height: 28px;

      &:hover,
      &:focus {
        background-color: #E8E8E8;
      }
    }
  }
}

// widget
.menu {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  min-width: 100px;
  padding: 8px 0;
  margin: 0;
  list-style: none;

  // also for testing
  color: #2B2B2B;
  background-color: #F4F4F4;

  // testing
  top: -8px; // accounts for top padding on menu to align submenu items
  left: 100%;

  // nice-to-have:
  //   - drop shadow styling for nested menus
}

.menu-item {
  box-sizing: border-box;
  position: relative;
  height: 20px;
  width: auto;
  line-height: 20px;
  padding: 0 16px;
  white-space: nowrap;

  &:hover {
    background-color: aquamarine;
  }
}

.menu-separator {
  margin: 4px 8px;
  height: 1px;
  background-color: #2B2B2B;
  opacity: 0.2;
}

.submenu-caret {
  position: absolute;
  right: 8px;
}
