.app-menu {
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  > * {
    flex-shrink: 0;
  }

  > li {
    height: 30px;
    padding: 0 8px;
    font-size: 13px;
    line-height: 30px;
  }
}

.menu {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
  list-style: none;

  // also for testing
  width: 100px;
  border: 1px solid black;
  background-color: slategray;
  color: white;

  // for testing
  top: 0;
  left: 100px;
}

.menu-item {
  position: relative;
  height: 20px;
  width: 100px;
  line-height: 20px;
}